.qvt-sheet {
    background: #FFFFFF !important;
}
.qv-pt .cell.null-value, .qv-st-data-cell-null-value {background-color: #FFFFFF;}
.qv-pt .cell .left-meta-headers .lui-button, .qv-pt .cell .top-meta-headers .lui-button {background-color: #FFFFFF;}
.qv-pt .cell .left-meta-headers .lui-button .meta-text, .qv-pt .cell .top-meta-headers .lui-button .meta-text{color:#000000;}
.lui-icon--search:before {color:#6898E7;}
/*.qv-object-SimpleFieldSelect .dropdownsel {background-color:#000000;color:#FFFFFF;} */
.qs-container .lui-tab .lui-tab__text {color:#d4af37;background-color: #000000;}
.qv-collapsed-listbox .title-wrapper .title {background-color: #000000;}
.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:focus { background-color: #000000;border-bottom: None;}


/*==========Waqas Additions==========*/

.lui-button--warning
{
    color: #fff !important;
    background: linear-gradient(to right, #293a56, #484075, #7c3b83, #b4277a, #e2005b, #ee2453, #f73b4b, #ff4f42, #fa6e64, #f08984, #e2a2a1, #cdbaba) !important;
    border: 0;
    padding: 1px 17px;
    box-shadow: inset 0 -2px rgba(0,0,0,.1);
    transition: box-shadow .2s ease-out;
}

.lui-button--info
{
    color: #fff !important;
    background: linear-gradient(to right, #293a56, #264f6e, #1c6584, #087d96, #0094a3, #23a1a9, #39adaf, #4dbab5, #63bfbb, #76c5c1, #88cac6, #99cfcc) !important;
    border: 0;
    padding: 1px 17px;
    box-shadow: inset 0 -2px rgba(0,0,0,.1);
    transition: box-shadow .2s ease-out;
}

.lui-button--success
{
    color: #fff !important;
   background: linear-gradient(to right, #293a56, #004863, #005566, #00615e, #006b4d, #0f764b, #238146, #378c3f, #509e5b, #69b076, #83c392, #9dd5ad) !important;
    border: 0;
    padding: 1px 17px;
    box-shadow: inset 0 -2px rgba(0,0,0,.1);
    transition: box-shadow .2s ease-out;
}


Style Attribute {
    color: #110a4f !important;
}


/*==========Container Tabs==========*/
.qs-container .lui-tab .lui-tab__text 
{
        color: #15283f;
	background: #a4a4a4;
	width: 100%;
	height: 100%;
	font-weight: bold;
	font-variant: small-caps;
	font-size: 20px;

}

.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:hover {color: #a4a4a4; background-color: #15283f; border-bottom: 8px solid #15283f} 
.lui-tab.lui-active, .lui-tab.lui-focused, .lui-tab:focus {color: #a4a4a4; background-color: #15283f; border-bottom: 8px solid #15283f} 


/*==========Filter boxes==========*/
.qv-collapsed-listbox .title-wrapper .title 
{
    color:#a4a4a4;
    background: #15283f;
    width: 100%;
    height: 100%;
}

/*======= Zebra line in tables =================*/
.qv-object-content-container .qv-object-content table tr:nth-child(even) {background: #f1f1f1;}

/*==========Column header==========*/
.qv-st-header {background-color: #15283f !important; color:#ffffff !important; border-bottom: none !important; border-top: none !important;}

/*==========Column header hover ==========*/
.qv-st-navigatable:not(.qv-st-selections-active):not(.qv-st-reordering-active) .qv-st-header-sortable:not(.qv-st-custom-header):hover:not(:active):not(.qv-st-header-cell-search-open) {background-color: #a4a4a4 !important; cursor: pointer;}

/*==========Table Scrollbar ==========*/
.scrollbar-track.horizontal .scrollbar-thumb {
    height: 150%;
    background: #15283f; 
}

.scrollbar-thumb.active, .touch-off .scrollbar-thumb:hover {
    background: #15283f; 
}

/*==========Font Familiy ==========*/
/*
.qv-object :not([font-family]) {
    font-family: "Comic Sans MS",Candara,QlikView Sans,sans-serif !important;
}
*/
